.btn-primary {
    background-color: #005dac
}
.btn-primary:hover {
    background-color: #004988;
}
.form-check-input:checked {
    background-color: #005dac !important;
    border-color: #005dac !important;
}