<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Manage category"></app-page-title>

<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body">
                
                <div class="row mb-2 justify-content-end">
                    
                    <div class="col-lg-4 col-12">
                        <div class="text-lg-end">
                            <button type="button" class="btn btn-primary" (click)="openAddCategoryModal(sizeableModal)">
                                <i class="mdi mdi-plus me-1"></i> Add New
                            </button>
                        </div>
                    </div><!-- end col-->
                </div>
                
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                
                <!-- order table -->
                <app-advanced-table 
                    #advancedTable 
                    [tableData]="records"
                    [columns]="columns" 
                    [pagination]="true" 
                    [pageSizeOptions]="pageSizeOptions"
                    [hasRowSelection]="false" 
                    [isSearchable]="true"
                    [isSortable]="false" 
                    [hasActionColumn]="true"
                    (actionTrigger)="actionTriggerd($event)"
                    (search)="searchData($event)"
                    tableClasses="table-centered"
                    theadClasses="table-light">
                </app-advanced-table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
        
    </div><!-- end col-->
</div>
<!-- end row-->


<!--  -->
<ng-template #sizeableModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel"> {{ actionType }} Category </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">

        <form   [formGroup]="categoryList" #addProduct="ngForm">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>
        
                            <div class="mb-3">
                                <label for="category-name" class="form-label"> Name <span
                                        class="text-danger">*</span></label>
                                <input type="text"  id="category-name" class="form-control" placeholder="Mugilavathi"
                                    required formControlName="c_name"
                                    [ngClass]="{ 'is-invalid': addProduct.submitted && form1.c_name.invalid }">
                            </div>

                            <div class="mb-3">
                                <label for="List-number" class="form-label">Number <span
                                        class="text-danger">*</span></label>
                                <input type="text"  id="List-number" class="form-control" placeholder="987654678"
                                    required formControlName="c_number"
                                    [ngClass]="{ 'is-invalid': addProduct.submitted && form1.c_number.invalid }">
                            </div>

                            <div class="mb-3">
                                <label for="List-number" class="form-label">Number<span class="text-danger">*</span></label>
                                <select id="List-number" class="form-select form-select my-1 my-lg-0" id="status-select" name="status" >
                                    <option *ngFor="let contact of contacts" [value]="contact.t_name">
                                        {{ contact.t_role }}
                                    </option>
                                </select>
                            </div>
        
                           
                            <div class="mb-3">
                                <label class="mb-2">Active Status <span class="text-danger">*</span></label>
                                <br />
                                <div class="d-flex flex-wrap">
                                    <div class="form-check me-2">
                                        <input class="form-check-input" type="radio" value="true" name="active_status"
                                            formControlName="active_status" id="inlineRadio1" checked>
                                        <label class="form-check-label" for="inlineRadio1">Active </label>
                                    </div>
                                    <div class="form-check me-2">
                                        <input class="form-check-input" type="radio" value="false" name="active_status"
                                            formControlName="active_status" id="inlineRadio2">
                                        <label class="form-check-label" for="inlineRadio2">In Active </label>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end col -->
        
            </div>
            <!-- end row -->
        
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <button type="submit" class="btn w-sm btn-success waves-effect waves-light me-1" (click)="ListForm()">Save</button>
                        <button type="button" class="btn w-sm btn-danger waves-effect" aria-label="Close" (click)="modal.dismiss('Cross click')">Cancel</button>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        
        </form>

    </div>
</ng-template>

<ng-template #positionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="topModalLabel">Delete Testimonial</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p>Do you want to delete this Category?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary"  (click)="deletedSeletedContact()">Delete</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>