<div class="hero_sec d-flex justify-content-center align-items-center" style="margin:0 0 5rem 0;">
    <div class="container  p-3" >
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="row card bg-white rounded-4 p-2 mb-lg-0 mb-3">
                    <div class="col-lg-12 col-md-12">
                        <div class="card bg-white rounded-4 mb-lg-0 mb-3" style="padding:1rem;"
                            data-tor="inview:bg(primary) , hover:bg(danger)">
                            <div style="padding:1rem 0;">
                                <h3>Send Quick Message:-</h3>
                            </div>
                            <div class="hstack gap-3 d-flex">
                                <div style="width:50%">
                                    <select>
                                        <option>Birthday Template</option>
                                        <option>Anniversary Template</option>
                                        <option>Subscription Template</option>
                                    </select>
                                </div>
                                <div style="width:50%">
                                    <button>Send Message</button>
                                </div>
                            </div>
                            <!--radio button-->
                            <div style="padding-top:2rem">
                                <h4>Choose:-</h4>
                                <input type="radio">Contact
                                <input type="radio">List
                            </div>
                            <!--contact dropdown-->
                            <div class="row">
                                <div class="col-6"> 
                                    <div class="mb-3">
                                        <label for="category" class="form-label">
                                            Choose the receiver:
                                        </label>
                                        <select2 
                                        
                                            [data]="senderResource" 
                                            placeholder="select sender contact" 
                                            id="sender" 
                                            #mySelect
                                            class="form-control"
                                            (update)='onSenderSelected($event)'
                                            formControlName="sender"
                                        >
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-12"> 
                                    <div class="mb-3">
                                        <button class="btn btn-primary" (click)="sendMessage()">
                                            send message
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!--list dropdown-->
                            <div class="row">
                                <div class="col-6"> 
                                    <div class="mb-3">

                                        <label for="category" class="form-label">
                                            Choose the receiver:
                                        </label>

                                        <select2 
                                            [data]="senderResourcelist" 
                                            placeholder="select sender contact" 
                                            id="sender" 
                                            #mySelect
                                            class="form-control"
                                            (update)='onSenderSelected($event)'
                                            formControlName="sender"
                                        >
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-12"> 
                                    <div class="mb-3">
                                        <button class="btn btn-primary" (click)="sendMessagelist()">
                                            send message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3">
                            <div class="hstack gap-3">
                                <div class="p-2">
                                    <h3 class="fs-6 text-black-50 lh-1">TODAY'S USERS</h3>
                                    <strong class="fs-5 lh-1">2,300</strong>
                                </div>
                                <div class="p-2 ms-auto rounded-circle bg-danger badge ">
                                    <i class="fas fa-dove color-white fs-5"></i>
                                </div>
                            </div>
                            <p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                                    class="link-info text-decoration-none fw-bold">+3%</a>
                                since week</p>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 mt-6">
                        <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3" style="margin-top:1.5rem">
                            <div class="hstack gap-3">
                                <div class="p-2">
                                    <h3 class="fs-6 text-black-50 lh-1">NEW CLIENTS</h3>
                                    <strong class="fs-5 lh-1">+3,462</strong>
                                </div>
                                <div class="p-2 ms-auto rounded-circle bg-info badge ">
                                    <i class="fas fa-dove color-white fs-5"></i>
                                </div>
                            </div>
                            <p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                                    class="link-danger text-decoration-none fw-bold">-2%</a>
                                last quarter</p>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<style>
   .hstack button{
    background-color: skyblue;
    border:none;
    color:white;
    padding:0.4rem 1.5rem;
   } 
   .hstack button:hover{
    background-color: transparent;
    border:2px solid skyblue;
    color:black;
   }
   select{
    padding:0.5rem;
    font-size: 1rem;
    border:1px solid gray;
   }
   option{
    font-size: 1rem;
   }
</style>

<!--table-->


