<div class="hero_sec d-flex justify-content-center align-items-center" style="margin:0 0 5rem 0;">
    <div class="container  p-3" >
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12">
                        <div class="card bg-white rounded-4 mb-lg-0 mb-3" style="padding:1rem;"
                            data-tor="inview:bg(primary) , hover:bg(danger)">
                           
                            <!--Date and Time Form-->
                            <div>
                                <div style="padding:1rem 0;">
                                    <h3>Schedule Message:-</h3>
                                </div>                                
                                <form [formGroup]="scheduledmsg" class="row">
                                 <!--radio button-->
                                    <!-- <div class="custom_radio">
                                        <h4>Choose Template:</h4>
                                        <div class="d-flex">
                                            <input type="radio" value="true"  formControlName="is_temp" id="customRadio" name="selectType" (change)="toggledown('custom')" ><label for="customRadio" >Custom</label>
                                        </div>
                                    </div> -->

                                    <div class="">
                                        <div style="padding:1rem 0;">
                                            <label for="temp_name">Enter custom message name:</label>
                                            <input type="text" id="temp_name" formControlName="temp_name" required style="height:5vh;width:100%">
                                        </div> 
                                    </div>
                                    
                                    <div class="">
                                        <div style="padding:1rem 0;">
                                            <label for="cust_temp">Enter your custom message:</label>
                                            <input type="text" id="cust_temp" formControlName="cust_temp" required style="height:5vh;width:100%">
                                        </div> 
                                    </div>
                                   
                                    <div class="col-lg-12">
                                        <label for="category" class="form-label">
                                            Choose list array:
                                        </label>

                                        <select2 
                                            [data]="senderResourcelistarray" 
                                            placeholder="select sender LIST" 
                                            id="sender" 
                                            #mySelect
                                            class="form-control"
                                            (update)='onSenderSelectedarray($event)'
                                            formControlName="cont_list"
                                        >
                                        </select2>
                                    </div>
                                    <div class="col-lg-6 mt-2">
                                    <div>
                                        <label for="date">Date:</label>
                                        <input type="date" id="date" formControlName="date" required style="height:5vh;width:100%">
                                    </div>
                                    </div>
                                    <div class="col-lg-6 mt-2">
                                    <div>
                                        <label for="time">Time:</label>
                                        <input type="time" id="time" formControlName="time" required style="height:5vh;width:100%">
                                    </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                        <button class="btn btn-primary dateform" type="submit" (click)="submitdatetimeForm()">Click To Submit</button>
                                    </div>
                                </form>
                                
                                <div style="padding:1rem 0;">
                                    <h3>Schedule Details:-</h3>
                                </div>
                                <table class="table">
                                    <thead class="thead-light">
                                      <tr>
                                        <th>Template Name</th>
                                        <th>Custom Template</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of storedData">
                                        <td>{{item.temp_name}}</td>
                                        <td>{{item.cust_temp}}</td>
                                        <td>{{item.date}}</td>
                                        <td>{{item.time}}</td>
                                        <td><button (click)="deleteAutoTemp(item.id)">Delete</button></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                              
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
  
   select{
    padding:0.5rem;
    font-size: 1rem;
    border:1px solid gray;
   }
   option{
    font-size: 1rem;
   }
   
 
.custom_radio{
   margin: 20px 0px;
}
.custom_radio input[type="radio"]{
  display: none;
}
.custom_radio input[type="radio"] + label{
  position: relative;
  display: inline-block;
  /* padding-left: 1.5em; */
  margin-right: 2em;
  cursor: pointer;
  line-height: 1em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color:skyblue;
  padding:1rem 2.5rem;
  border-radius:1rem;
}
.custom_radio input[type="radio"] + label:before,
.custom_radio input[type="radio"] + label:after{
  content: '';
  position: absolute;
  top: 10;
  left: 0;
  width: 1em;
  height: 1em;
  text-align: center;
  font-family: Times;
  border-radius: 1rem;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left:1rem;
}

.custom_radio input[type="radio"] + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em white;
}
.custom_radio input[type="radio"] + label:hover:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
}
.custom_radio input[type="radio"]:checked + label:before {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: inset 0 0 0 0.2em white, inset 0 0 0 1em blue;
}

/*date and time button*/
.dateform{
    border-radius:0.5rem;
}
</style>

<!--table-->


