<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Manage Contacts"></app-page-title>

<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body">
                
                <div class="row mb-2 justify-content-end">
                    <!-- <div class="col-lg-8">
                        <form class="d-flex flex-wrap align-items-center">
                            <label for="status-select" class="me-2">Status</label>
                            <div class="me-sm-3">
                                <select class="form-select form-select my-1 my-lg-0" id="status-select" name="status"
                                    [(ngModel)]="statusGroup" (change)="changeStatusGroup(statusGroup)">
                                    <option value="All">All</option>
                                    <option value="true">Active</option>
                                    <option value="false">In Active</option>
                                </select>
                            </div>
                        </form>
                    </div> -->
                    <div class="col-lg-4 col-12">
                        <div class="text-lg-end">
                            <button type="button" class="btn btn-primary" (click)="openAddTestimonialModal(sizeableModal)">
                                <i class="mdi mdi-plus me-1"></i> Add New
                            </button>
                        </div>
                    </div><!-- end col-->
                </div>
                
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                
                <!-- order table -->
                <app-advanced-table 
                    #advancedTable 
                    [tableData]="records"
                    [columns]="columns" 
                    [pagination]="true" 
                    [pageSizeOptions]="pageSizeOptions"
                    [hasRowSelection]="false" 
                    [isSearchable]="true"
                    [isSortable]="false" 
                    [hasActionColumn]="true"
                    (actionTrigger)="actionTriggerd($event)"
                    tableClasses="table-centered"
                    theadClasses="table-light">
                </app-advanced-table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
        
    </div><!-- end col-->
</div>
<!-- end row-->


<!--  -->
<ng-template #sizeableModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel"> {{ actionType }} Contact </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">

        <form (ngSubmit)="submitForm()" [formGroup]="testimonialForm" #addProduct="ngForm">

            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>
        
                            <div class="mb-3">
                                <label for="attestant-name" class="form-label"> Name <span
                                        class="text-danger">*</span></label>
                                <input type="text" [(ngModel)]="testimonialData.t_name" id="attestant-name" class="form-control" placeholder="e.g : Ken Adams"
                                    required formControlName="t_name"
                                    [ngClass]="{ 'is-invalid': addProduct.submitted && form1.t_name.invalid }">
                            </div>
        
                            <div class="mb-3">
                                <label for="attestant-role" class="form-label">Phone Number <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="attestant-role" [(ngModel)]="testimonialData.t_role" class="form-control" placeholder="e.g : 9567..."
                                    required formControlName="t_role"
                                    [ngClass]="{  'is-invalid': addProduct.submitted && form1.t_role.invalid }">
                            </div>

                           
                            <div class="mb-3">
                                <label for="testimony-date" class="form-label">Mail Id<span
                                        class="text-danger">*</span></label>
                                <input type="text" id="testimony-date" [(ngModel)]="testimonialData.t_mail" class="form-control" placeholder="e.g : abc@gmail.com"
                                    required formControlName="t_mail"
                                    [ngClass]="{  'is-invalid': addProduct.submitted && form1.t_mail.invalid }">
                            </div>

                            <div class="mb-3">
                                <label for="testimony-date" class="form-label">Date <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="testimony-date" [(ngModel)]="testimonialData.t_date" class="form-control" placeholder="e.g : 21-09-2023"
                                    required formControlName="t_date"
                                    [ngClass]="{  'is-invalid': addProduct.submitted && form1.t_date.invalid }">
                            </div>
        
                            <!-- <div class="mb-3">
                                <label for="t_msg" class="form-label">Mail Id <span
                                        class="text-danger">*</span></label>
        
                                <div id="snow-editor">
                                    <quill-editor formControlName="t_msg" [styles]="{height: '150px'}" #quillEditor
                                        [sanitize]="true">
                                    </quill-editor>
                                </div>
                            </div> -->
        
                            <div class="mb-3">
                                <label class="mb-2">Active Status <span class="text-danger">*</span></label>
                                <br />
                                <div class="d-flex flex-wrap">
                                    <div class="form-check me-2">
                                        <input class="form-check-input" type="radio" value="true" name="active_status"
                                            formControlName="active_status" id="inlineRadio1" checked>
                                        <label class="form-check-label" for="inlineRadio1">Active </label>
                                    </div>
                                    <div class="form-check me-2">
                                        <input class="form-check-input" type="radio" value="false" name="active_status"
                                            formControlName="active_status" id="inlineRadio2">
                                        <label class="form-check-label" for="inlineRadio2">In Active </label>
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end col -->
        
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-uppercase mt-0 mb-3 bg-light p-2">Additional info</h5>
        
                            
                            <div class="mb-3">
                                <label for="attestant-name" class="form-label"> Gender <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="attestant-name" [(ngModel)]="testimonialData.t_gender"  class="form-control" placeholder="e.g : male or female"
                                    required formControlName="t_gender"
                                    [ngClass]="{ 'is-invalid': addProduct.submitted && form1.t_gender.invalid }">
                            </div>
        
                            <div class="mb-3">
                                <label for="attestant-role" class="form-label"> Address <span
                                        class="text-danger">*</span></label>
                                <input type="text" id="attestant-role" [(ngModel)]="testimonialData.t_address" class="form-control" placeholder="e.g : a/21,.."
                                    required formControlName="t_address"
                                    [ngClass]="{  'is-invalid': addProduct.submitted && form1.t_address.invalid }">
                            </div>

                           
                            <div class="mb-3">
                                <label for="testimony-date" class="form-label">city<span
                                        class="text-danger">*</span></label>
                                <input type="text" id="testimony-date" [(ngModel)]="testimonialData.t_city" class="form-control" placeholder="e.g : chennai"
                                    required formControlName="t_city"
                                    [ngClass]="{  'is-invalid': addProduct.submitted && form1.t_city.invalid }">
                            </div>

                           
        
                            <!-- Preview -->
                            <div class="dropzone-previews mt-3" id="file-previews">
                                <!-- file preview template -->
                                <div id="uploadPreviewTemplate" *ngFor="let f of files">
                                    <div class="card mt-1 mb-0 shadow-none border">
                                        <div class="p-2">
                                            <div class="row align-items-center">
                                                <div class="col-auto">
                                                    <img class="avatar-sm rounded bg-light" [alt]="f.name"
                                                        [src]="getPreviewUrl(f)">
                                                </div>
                                                <div class="col ps-0">
                                                    <a href="javascript:void(0);" class="text-muted fw-bold">{{f.name}}</a>
                                                    <p class="mb-0">{{getSize(f)}}</p>
                                                </div>
                                                <div class="col-auto">
                                                    <!-- Button -->
                                                    <a href="javascript:void(0)" class="btn btn-link btn-lg text-muted"
                                                        (click)="onRemove($event)">
                                                        <i class="dripicons-cross"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- error area -->
                            <div *ngIf="addProduct.submitted" class="text-start position-relative">
                                <div *ngIf="files.length > 1" class="invalid-feedback">
                                    Please select only one image to proceed further.
                                </div>
                                <div *ngIf="files.length == 1" class="invalid-feedback">
                                    Please .
                                </div>
                                <div *ngIf="files.length == 0" class="invalid-feedback">
                                    Please select atleast on image file under these formats [.jpeg, .jpg, .png]
                                </div>
                            </div>
                                
                        </div>
                    </div> <!-- end col-->
        
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <button type="submit" class="btn w-sm btn-success waves-effect waves-light me-1">Save</button>
                        <button type="button" class="btn w-sm btn-danger waves-effect" aria-label="Close" (click)="closeTestimonialModal()">Cancel</button>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        
        </form>

    </div>
</ng-template>

<ng-template #positionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="topModalLabel">Delete Testimonial</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p>Do you want to delete this testimonial?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deletedSeletedTestimonial()">Delete</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>

