<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Manage variant"></app-page-title>

<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body">
                
                <div class="row mb-2 justify-content-end">
                    
                    <div class="col-lg-4 col-12">
                        
                        <div class="text-lg-end">
                            <button type="button" class="btn btn-primary" (click)="openAddVariantModal(sizeableModal)">
                                <i class="mdi mdi-plus me-1"></i> Add New
                            </button>
                        </div>
                        
                    </div><!-- end col-->
                    
                </div>
                
                <app-ui-preloader [display]="loading"></app-ui-preloader>
                
                <!-- order table -->
                <app-advanced-table 
                    #advancedTable 
                    [tableData]="records"
                    [columns]="columns" 
                    [pagination]="true" 
                    [pageSizeOptions]="pageSizeOptions"
                    [hasRowSelection]="false" 
                    [isSearchable]="true"
                    [isSortable]="false" 
                    [hasActionColumn]="true"
                    (actionTrigger)="actionTriggerd($event)"
                    (search)="searchData($event)"
                    tableClasses="table-centered"
                    theadClasses="table-light">
                </app-advanced-table>

            </div> <!-- end card body-->
        </div> <!-- end card -->
        
    </div><!-- end col-->
</div>
<!-- end row-->


<!--  -->
<ng-template #sizeableModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modalLabel"> {{ actionType }} Variant </h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">

        <form [formGroup]="ScheduleList" #addProduct="ngForm">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">General</h5>
                            
                            <div class="row">
                                <div class="col-6"> 
                                    <div class="mb-3">
                                        <label for="List-number" class="form-label">Number<span class="text-danger">*</span></label>
                                        <select id="List-number" class="form-select form-select my-1 my-lg-0" id="category" formControlName="category" >
                                            <option *ngFor="let list of list" [value]="list.c_name">
                                                {{list.c_name }}
                                            </option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <!-- <div class="col-6"> 
                                    <div class="mb-3">
                                        
                                        <label for="product1" class="form-label">
                                            Product
                                        </label>
                                        
                                        <select2 
                                            *ngIf="actionType != 'Edit'; else productElseBlock"
                                            [data]="products" 
                                            placeholder="Select Product" 
                                            #product1
                                            id="product" 
                                            class="form-control"
                                            (update)='onProductSelected($event)'
                                            formControlName="product"
                                        >
                                        </select2>
                                        <ng-template #productElseBlock>
                                            <h4> {{ (selectedProduct.length > 0)? selectedProduct[0].label: "" }} </h4>
                                        </ng-template>
                                    </div>
                                </div> -->
                                <div class="col-6"> 
                                    <div class="mb-3">

                                        <label for="variant" class="form-label">
                                            Variant name
                                        </label>
                                        <input type="text" id="Body_Text" class="form-control" placeholder="eg: SUN-4K-G04, ..."
                                            required formControlName="Body_Text" />

                                    </div>
                                </div>
                                
                                <!-- <div class="col-6"> 
                                    <div class="mb-3">

                                        <label for="varnt_order" class="form-label">
                                            Variant order 
                                        </label>
                                        <input type="text" id="varnt_order" class="form-control" placeholder="eg: 1, 2, 3 ..."
                                            required formControlName="varnt_order" />

                                    </div>
                                </div> -->
                                <div class="col-6"> 
                                    <div class="mb-3">
                                        <label for="selectedDate" class="form-label">Select Date</label>
                                        <input type="date" id="selectedDate" class="form-control" required formControlName="selectedDate" />
                                    </div>
                                </div>
                            </div>
        
                        </div>
                    </div> <!-- end card -->
                </div> <!-- end col -->
        
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-uppercase mt-0 mb-3 bg-light p-2"> Specifications </h5>
                            <div class="container">
                                <div class="" formArrayName="specs">
                                    <!-- iterate for formarray based on category selection -->
                                    <div class="table-row" *ngFor="let ctrl of specLabels; let indx = index"> 
                                        <h4> {{ ctrl.grp_nm + ':' }} </h4>
                                        <div class="mb-2" formGroupName="{{indx}}"> 
                                            <div formArrayName="grp"> 
                                                <div *ngFor="let c of ctrl.grp; let i = index">
                                                    <div formGroupName="{{i}}" class="table-col"> 
                                                        <label class="form-label"> {{ c +' : ' }} </label>
                                                        <input type="text" class="form-control" formControlName="val" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            


                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label class="mb-2">Active Status <span class="text-danger">*</span></label>
                                        <br />
                                        <div class="d-flex flex-wrap">
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" value="true" name="active_status"
                                                    formControlName="active_status" id="inlineRadio1" checked>
                                                <label class="form-check-label" for="inlineRadio1">Active </label>
                                            </div>
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" value="false" name="active_status"
                                                    formControlName="active_status" id="inlineRadio2">
                                                <label class="form-check-label" for="inlineRadio2">In Active </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                                
                        </div>
                    </div> <!-- end col-->
        
                </div> <!-- end col-->
            </div>
            <!-- end row -->
        
            <div class="row">
                <div class="col-12">
                    <div class="text-center mb-3">
                        <button type="submit" class="btn w-sm btn-success waves-effect waves-light me-1" (click)="ScheduleForm()">Save</button>

                        <button type="button" class="btn w-sm btn-danger waves-effect" aria-label="Close" (click)="closeVariantModal()">Cancel</button>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        
        </form>

    </div>
</ng-template>

<ng-template #positionModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="topModalLabel">Delete Variant</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p>Do you want to delete this variant?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deletedSeletedVariant()">Delete</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Cancel</button>
    </div>
</ng-template>

<!-- <ng-template #positionModal2 let-modal2>
    <div class="modal-header">
        <h4 class="modal-title" id="topModalLabel">Edit Variant</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal2.dismiss('Cross click')">

        </button>
    </div>
    <div class="modal-body">
        <p>Editing variants is temporarily disabled...! </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal2.close('Close click')"> Okay </button>
    </div>
</ng-template> -->