<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Send Message"></app-page-title>

<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body">
                
                <app-ui-preloader [display]="loading"></app-ui-preloader>

                <form [formGroup]="messageForm">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-uppercase bg-light p-2 mt-0 mb-3">Send a Prepared Message </h5>
                                    
                                    <div class="row">
                                        <div class="col-6"> 
                                            <div class="mb-3">
        
                                                <label for="category" class="form-label">
                                                    Choose the sender:
                                                </label>
        
                                                <select2 
                                                    *ngIf="actionType != 'Edit'; else categoryElseBlock"
                                                    [data]="senderResource" 
                                                    placeholder="Select Category" 
                                                    id="category" 
                                                    #mySelect
                                                    class="form-control"
                                                    (update)='onSenderSelected($event)'
                                                    formControlName="category"
                                                >
                                                </select2>
        
                                                <ng-template #categoryElseBlock>
                                                    <h4> {{ selectedSender[0].label }} </h4>
                                                </ng-template>
                                                
                                            </div>
                                        </div>
                                        <div class="col-6"> 
                                            <div class="mb-3">
                                                
                                                <label for="template" class="form-label">
                                                    Message template
                                                </label>
                                                
                                                <select2 
                                                    *ngIf="actionType != 'Edit'; else productElseBlock"
                                                    [data]="messageResource" 
                                                    placeholder="Select message template" 
                                                    #product1
                                                    id="template" 
                                                    class="form-control"
                                                    (update)='onMessageTemplateSelected($event)'
                                                    formControlName="template"
                                                >
                                                </select2>
                                                <ng-template #productElseBlock>
                                                    <h4> {{ (selectedMessage.length > 0)? selectedMessage[0].label: "" }} </h4>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-6"> 
                                            <div class="mb-3">
        
                                                <label for="message" class="form-label">
                                                    Message body:
                                                </label>
                                                <input type="textarea" id="message" class="form-control" placeholder="eg: sample message bodu has to be here..."
                                                    required formControlName="message" />
        
                                            </div>
                                        </div>                                
                                    </div>
                
                                </div>
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->
                </form>

            </div>
        </div>

    </div>
</div>

