<!-- page title -->
<app-page-title [breadcrumbItems]="pageTitle" title="Send A Prepared Custom Message To A List"></app-page-title>

<div class="row">
    <div class="col-12">
        
        <div class="card">
            <div class="card-body">
                
                <app-ui-preloader [display]="loading"></app-ui-preloader>

              
                <form [formGroup]="messageForm">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    
                                    <div class="row">
                                        <div class="col-6"> 
                                            <div class="mb-3">
        
                                                <label for="category" class="form-label">
                                                    Choose the Receiver List:
                                                </label>
        
                                                <select2 
                                                    [data]="senderResource" 
                                                    placeholder="Select List" 
                                                    id="sender" 
                                                    #mySelect
                                                    class="form-control"
                                                    (update)='onSenderSelected($event)'
                                                    formControlName="sender"
                                                >
                                                </select2>
                                                
                                            </div>
                                        </div>
                                        <div class="col-6"> 
                                            <div class="mb-3">
                                                
                                            </div>
                                        </div>

                                        <div class="col-6"> 
                                            <div class="mb-3">
        
                                                <label for="message" class="form-label">
                                                    Custome Message Body :
                                                </label>
                                                <input type="textarea" id="message" class="form-control" placeholder="Hey there..! how you do'in...?"
                                                    required formControlName="message" />
        
                                            </div>
                                        </div>

                                        <div class="col-12"> 
                                            <div class="mb-3">
                                                <button class="btn btn-primary" (click)="sendMessage()">
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                
                                </div>
                            </div> <!-- end card -->
                        </div> <!-- end col -->

                    </div>
                    <!-- end row -->
                </form>

            </div>
        </div>

    </div>
</div>

